/log/
/img/
/data/
/slurm_files/
/src/slimevolleygym/
/src/.pytest_cache/
/test_state.py
/test_pixel.py
/test_atari.py
/setup.py
/requirements.txt
/looping_through.py
/src/evolution/tests/
*.log
/src/evolution/evolving/outputs/
/src/evolution/evolving/profile_results*

